<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>A Brief History of Time</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <button><a href="/metadata">metadata</a></button>  
        <button><a href="/reviews">reviews</a></button>
        <button><a href="/publisherinfo">publisherinfo</a></button>
        <script src="" async defer></script>
        <style>
            body {
                background-image: url('https://upload.wikimedia.org/wikipedia/en/a/a3/BriefHistoryTime.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
            </style> 
    </body>
</html>