<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>A Brief History of Time - Metadata</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
                <style>
            body {
                background-image: url('https://upload.wikimedia.org/wikipedia/en/a/a3/BriefHistoryTime.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
            p{
                color: red;
            }
            </style> 
        <button><a href="/">Back to Home</a></button>  
        <p> "A Brief History of Time: From the Big Bang to Black Holes" written by physicist Stephen W. Hawking, with a discussion about how the content relates to near-death experience topics.</p>        
        <script src="" async defer></script>
    </body>
</html>