<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lab 6 Question 3 Success</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h3> Welcome {{Username}} </h3>
        <h4> Your Email id is: {{Email}} </h4>
        <h4> Your Contact Number is: {{ContactNumber}} </h4>
        <script src="" async defer></script>
    </body>
</html>