<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 7 Question 3 Publisher Search</title>
                <style>
     tr:nth-child(odd) {background-color: #f2f2f2;} 
     th {
  background-color: #04AA6D;
  color: white;
}
table, th, td {
  border: 1px solid black;
}
    </style>
</head>
<body>
    <h1>Search for Publisher</h1>
    <form action="searchPublisher" method="POST">
        {% csrf_token %}
        {{form}}
        <br><input type="submit" value = "Search">
    </form>
    <table>
        <thead>
            <td>Name</td>
            <td>Street</td>
            <td>City</td>
            <td>State</td>
            <td>Country</td>
            <td>Website</td>
        </thead>
        <tr>
            <td>{{publisher.name}}</td>
            <td>{{publisher.street}}</td>
            <td>{{publisher.city}}</td>
            <td>{{publisher.state}}</td>
            <td>{{publisher.country}}</td>
            <td>{{publisher.site}}</td>
        </tr>
    </table>
    <button><a href="{% url 'index' %}">Back</a></button>
</body>
</html>