<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 7 Question 3 Author Search</title>
                <style>
     tr:nth-child(odd) {background-color: #f2f2f2;} 
     th {
  background-color: #04AA6D;
  color: white;
}
table, th, td {
  border: 1px solid black;
}
    </style>
</head>
<body>
    <h1>Search for Author</h1>
    <form action="searchAuthor" method="POST">
        {% csrf_token %}
        {{form}}
        <br><input type="submit" value = "Search">
    </form>
    <table>
        <thead>
            <td>First Name</td>
            <td>Last Name</td>
            <td>email</td>
        </thead>
        <tr>
            <td>{{author.fname}}</td>
            <td>{{author.lname}}</td>
            <td>{{author.em}}</td>
        </tr>
    </table>
    <button><a href="{% url 'index' %}">Back</a></button>
</body>
</html>