<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 7 Question 3 Book Search</title>
            <style>
     tr:nth-child(odd) {background-color: #f2f2f2;} 
     th {
  background-color: #04AA6D;
  color: white;
}
table, th, td {
  border: 1px solid black;
}
    </style>
</head>
<body>
    <h1>Search for book</h1>
    <form action="searchBook" method="POST">
        {% csrf_token %}
        {{form}}
        <br><input type="submit" value = "Search">
    </form>
    <table>
        <thead>
            <td>Title</td>
            <td>Published Date</td>
            <td>Name of the Publisher</td>
            <td>Name of the authors</td>
        </thead>
        <tr>
            <td>{{book.title}}</td>
            <td>{{book.pdate}}</td>
            <td>{{book.publisher.name}}</td>
            <td>
                {% for author in book.authors.all %}
                {{author.fname}} {{author.lname}} <br>
                {% endfor %}
            </td>
        </tr>
    </table>
    <button><a href="{% url 'index' %}">Back</a></button>
</body>
</html>