<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student Search</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'allstudents' %}">All Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <form action="" method="POST">
              {% csrf_token %}
              {{form}}
              <input type="submit" value="search">
            </form>
        </ul>
      </nav>
      <br>
<div class="container">       
  <table class="table table-dark text-center">
    <thead>
      <tr>
        <td>Registration Number</td>
        <td>Name</td>
        <td>CGPA</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{student.RegNo}}</td>
        <td>{{student.Name}}</td>
        <td>{{student.CGPA}}</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>