<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 7 Question 4 View</title>
        <style>
ul li {
  background: #cce5ff;
  margin: 5px;
}
ul {
  background: #3399ff;
  padding: 20px;
}
</style>
</head>
<body>
    <h1>Products:</h1><br>
    <ul>
        {% for product in products %}
        <li>{{product.Title}} <br>${{product.Price}} <br>{{product.Description}}</li>
        {% endfor %}
    </ul>
</body>
</html>